
/*=======colors===========*/
$top-bg    :  #f7f7f7;
$header-bg  :  #fff;
$text-dark  :  #000;
$text-light :  yellow;
$title-color:   red;
$text-white :  #fff;
$bg-white   :  #fff;
$theme-bg   :  #f7f7f7;
$button-bg  :  #ff3d4f;
#footer-bg  : #202020;   

