*{
	margin: 0px;
	padding: 0px;
}
*,::before,::after{
	 box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a{
	text-decoration: none;
}


p{
	margin: 0px 0px 15px;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px 0px 10px;
	font-family: 'Raleway', sans-serif;
}

html{
	font-size: (10/16) px;
}

ul{
	margin: 0px;
	padding: 0px;
}
