.header{
	border-bottom:.3px solid rgba(255,255,255,0.7) ;
	.logo{
		padding-top: 13px;
	}
	.main-menu{
		ul{
			text-align: right;
			li{
				display: inline-block;
				&:last-child a{
					border: none;
				}
				a{
					display: block;
					padding: 0px 20px;
					color: $text-white;
					line-height: 60px;
					border-right: 1px solid rgba(255,255,255,0.7);
				}
			}
		}
	}
}